<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="just.cse.mahfuz.eas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.ViewAttendanceActivity" />
        <activity android:name=".activity.StudentAssignActivity" />
        <activity android:name=".activity.SelectCourseActivity" />
        <activity android:name=".activity.AttendanceActivityNew" />
        <activity android:name=".activity.AssignCourseActivity" />
        <activity android:name=".activity.TeacherListActivity" />
        <activity android:name=".activity.Attendance" />
        <activity android:name=".activity.HomeActivity" />


        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/NoActionBar"></activity>

        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>